<!--
File: Topic/index.html
Name: Peter Graham
Class: CS 461
Project 1
Date: February 16
-->
#{extends 'base.html' /}
#{set title:topicName /}
<div class="subpage">
    <h2>${topicName} <a class="leftpad smallest"
        #{if following}
            href="@{Profile.unFollowTopic(topicName)}">&{'action.unFollow'}
        #{/if}
        #{else}
            href="@{Profile.followTopic(topicName)}">&{'action.follow'}
        #{/else}
    </a></h2>
    <form class="bigform" action="@{TopicHandler.addUpdate()}" method="post">
        <div>
        <textarea class="fancytext" name="content"#{if !loggedin} disabled#{/if}>#{if !loggedin}&{'login.loginRequired'}#{/if}</textarea><br>
        <input class="fancybutton pointer shadow" type="submit" value="&{'action.addUpdate'}">
        <input type="hidden" name="topicName" value="${topicName}">
        </div>
    </form>
    <!-- TODO: sidebar like home -->
    <br><a class="${sortBy == 'recent' ? 'active':''}" href="@{TopicHandler.viewUpdates(topicName,'recent')}">Recent</a> | <a class="${sortBy == 'popular' ? 'active':''}" href="@{TopicHandler.viewUpdates(topicName,'popular')}">Popular, Past 24h</a><br><br>
    <ol id="subscriptions">
        #{list items:updates, as:'update'}
        <!-- TODO: clean up -->
            <li><b>${update.getContent()}</b> <span class="smaller greyish">Posted on ${update.getDateCreated()}</span>
                <br><a href="@{TopicHandler.vote(update.getId(),'up', sortBy)}">up</a>
                <a href="@{TopicHandler.vote(update.getId(),'down', sortBy)}">down</a>
                vote total value: <b>${update.getVoteCount()}</b><br><br><br>
        #{/list}
        #{else}
            <p class="greyish">&{'topic.noUpdates'}</p>
        #{/else}
    </ol>
</div>