<!--
File: Account/register.html
Name: Peter Graham
Class: CS 461
Project 1
Date: February 16
-->
#{extends 'base.html' /}
#{set title:messages.get('register') /}
<div class="subpage">
    <div class="round centered bigborder">
    <h2>&{'register'}<span> &mdash; &{'register.pitch'}</span></h2>
    <form class="bigform default-label-form" action="@{Account.register()}" method="post">
        <div>
        <p>
            <label class="default-label noJsSpacer" for="email">&{'field.email'}</label>
            <input class="fancytext" id="email" name="email" type="text" spellcheck="false" value="${flash['email']}">
        </p>
        <p>
            <label class="default-label noJsSpacer" for="password">&{'field.password'}</label>
            <input class="fancytext" id="password" name="password" type="password">
        </p>
        <input class="fancybutton pointer shadow" type="submit" value="&{'register'}">
        </div>
    </form>
    </div>
</div>