<!--
File: Account/settings.html
Name: Peter Graham
Class: CS 461
Project 1
Date: February 16
-->
#{extends 'base.html' /}
#{set title: messages.get('settings.edit') /}
<div class="subpage">
    <h2><a href="@{Profile.index(userId)}">${userName}</a> &rarr; &{'settings.edit'}</h2>
    #{form @onSettingsSubmit(), class:'bigform'}
        <div>
        <p>
            <label for="email">&{'field.email'}</label><br>
            <input class="fancytext" id="email" name="email" type="text" spellcheck="false" value="${editEmail}">
        </p>
        <p>
            <label for="oldPassword">&{'field.oldPassword'}</label><br>
            <input class="fancytext" id="name" name="oldPassword" type="password">
        </p>
        <p>
            <label for="newPassword">&{'field.newPassword'}</label><br>
            <input class="fancytext" id="name" name="newPassword" type="password">
        </p>
        <input class="fancybutton pointer shadow" type="submit" value="&{'msg.save'}">
        </div>
    #{/form}
</div>