<!--
File: Topic/create.html
Name: Peter Graham
Class: CS 461
Project 1
Date: April 17
-->
#{extends 'base.html' /}
#{set title: messages.get('topic.new') /}
<div class="subpage">
    <h2>&{'topic.new'}</h2>
    #{form @onCreateSubmit(), class:'bigform'}
        <div>
        <p>
            <label for="name">&{'topic.name'}</label><br>
            <input class="fancytext" id="name" name="name" type="text" value="${name}">
        </p>
        <input class="fancybutton pointer shadow" type="submit" value="&{'action.create'}">
        </div>
    #{/form}
</div>