<!--
File: Topic/index.html
Name: Peter Graham
Class: CS 461
Project 1
Date: February 16
-->
#{extends 'base.html' /}
#{set title:topicName /}
<div class="subpage">
    <h2>${topicName} <a class="leftpad smallest"
        #{if following}
            href="@{Profile.unFollowTopic(topicName)}">&{'action.unFollow'}
        #{/if}
        #{else}
            href="@{Profile.followTopic(topicName)}">&{'action.follow'}
        #{/else}
    </a></h2>
    <a class="${sortBy == 'recent' ? 'active':''}" href="@{index(topicName,'recent')}">Recent</a> |
    <a class="#{if sortBy == 'popular24h' || sortBy == 'popular7d' || sortBy == 'popularall'}active#{/if}" href="@{index(topicName,'popular24h')}">Popular</a>

    (<a class="${sortBy == 'popular24h' ? 'active':''}" href="@{index(topicName,'popular24h')}">Today</a> or <a class="${sortBy == 'popular7d' ? 'active':''}" href="@{index(topicName,'popular7d')}">Week</a> or <a class="${sortBy == 'popularall' ? 'active':''}" href="@{index(topicName,'popularall')}">All Time</a>)<br>
    
    #{form @onUpdateSubmit(), class:'bigform'}
        <div>
        <textarea class="fancytext" name="content"#{if !loggedin} disabled#{/if}>#{if !loggedin}&{'login.loginRequired'}#{/if}</textarea><br>
        <input class="fancybutton pointer shadow" type="submit" value="&{'action.addUpdate'}">
        <input type="hidden" name="topicName" value="${topicName}">
        </div>
    #{/form}

    <!-- TODO: sidebar like home -->
    <ol id="subscriptions">
        #{list items:updates, as:'update'}
        <!-- TODO: clean up -->
            <li><b>${update.getContent()}</b> <span class="smaller greyish">Posted on ${update.getDateCreated()}</span>
                <br><a href="@{onVoteSubmit(update.getId(), sortBy)}">up</a>
                vote total value: <b>${update.getVoteCount()}</b><br><br><br>
        #{/list}
        #{else}
            <p class="greyish">&{'topic.noUpdates'}</p>
        #{/else}
    </ol>
</div>