<!--
File: Topic/showUpdates.html
Name: Peter Graham
Class: CS 461
Project 1
Date: April 16
-->
#{extends 'base.html' /}
#{if scope != 'you' && scope != 'everyone'}
    #{set title:scope /}
#{/if}
#{else}
    #{set title:messages.get('home.title') /}
#{/else}
<div id="filters" class="left">

    <ul class="selector">
         <li><a class="${order == 'recent' ? 'active':''}" href="@{Topic.showUpdates(scope,'recent',0)}">&{'msg.recent'}</a>
        <li><a class="${order == 'popular24h' ? 'active':''}" href="@{Topic.showUpdates(scope,'popular24h',0)}">&{'msg.popularToday'}</a>
        <li><a class="${order == 'popular7d' ? 'active':''}" href="@{Topic.showUpdates(scope,'popular7d',0)}">&{'msg.popularWeek'}</a>
    </ul>
    <div class="hseparator">&nbsp;</div>
    <ul class="selector">
        <li><a class="${scope == 'everyone' ? 'active':''}" href="@{Topic.showUpdates('everyone',order,0)}">&{'home.everyone'}</a>
        <li><a class="${scope == 'you' ? 'active':''}" href="@{Topic.showUpdates('you',order,0)}">&{'home.you'}</a>
    </ul>


#{if loggedin}
	#{if topics}
		<ol id="topics" class="selector smaller">
        	#{list items:topics, as:'topic'}
            	<li>
                    <a class="${scope == topic.getNameEncoded() ? 'active':''}" href="@{Topic.showUpdates(topic.getNameEncoded(),order,0)}">${topic.name}</a>
             #{/list}
        </ol>  
	#{/if}
	#{if !isMobile} 
		<div id="subsnotif" class="round smallest">
			#{if topics}	
            	<a href="@{Profile.index(user.id)}">&{'action.manage'} &rsaquo;</a>
            #{/if}
            #{else}
                &{'msg.none'}<br><a href="@{Topic.browse()}">&{'action.findTopics'} &rsaquo;</a>
            #{/else}
		</div>
	#{/if}
#{/if}
</div>

#{if !loggedin && !isMobile && (scope == 'you' || scope == 'everyone')}
	<div id="pitch" class="round">
	    <div class="left">
			<h2 class="noJsSpacer">&{'home.titlePart1'} <br><span>&{'home.titlePart2'}</span></h2>
		</div>
	    #{form action:@Account.onRegisterSubmit(), id: 'signup', class:'default-label-form validate-form'}
	        <h3 class="noJsSpacer">&{'register'} <span>&mdash; &{'register.pitch'}</span></h3>
			<p>
				<label class="default-label noJsSpacer" for="email">&{'field.email'}</label>
				<input id="email" class="fancytext not-empty" name="email" type="text" value="" spellcheck="false">
			</p>
			<div id="inbetweeninput" class="noJsSpacer">&nbsp;</div>
			<p>
				<label class="default-label noJsSpacer" for="password">&{'field.password'}</label>
				<input id="password" class="fancytext not-empty" name="password" type="password">
			</p>
			<input class="fancybutton shadow pointer" type="submit" value="&{'register'}">
	    #{/form}
	</div>
#{/if}

#{if scope != 'you' && scope != 'everyone'}
 *{ viewing a topic so display topic name and update submission form }*
    <h2 id="updatetitle">${scopeDecoded} <a class="leftpad smallest"
        #{if isFollowing}
            href="@{Topic.unFollowTopic(scope)}">&{'action.unFollow'}
        #{/if}
        #{else}
            href="@{Topic.followTopic(scope,order)}">&{'action.follow'}
        #{/else}
    </a></h2>

    #{form @onUpdateSubmit(), id:'updateform', class:'bigform validate-form'}
        <div>
			<textarea class="fancytext not-empty" name="content"#{if !loggedin} disabled#{/if}>#{if !loggedin}&{'login.loginRequired'}#{/if}#{else}${flash.content}#{/else}</textarea><br>
        #{if loggedin}
            <p>Attach a Link (optional):</p>
            <input type="text" class="fancytext" name="url" value="${flash.url}"><br>
         #{/if}
        	<input class="fancybutton pointer shadow" type="submit" value="&{'action.addUpdate'}">
        	<input type="hidden" name="topicName" value="${scope}">
        	<input type="hidden" name="sortBy" value="${sortBy}">
        </div>
    #{/form}
#{/if}
<ol id="content">
    #{list items:updates, as:'update'}
        <li id="u${update.id}" class="round">
			<div class="left like">
				<div class="votecount">${update.getVoteCount()}</div>
				<a class="likeit#{if update.votedOnBy(user)} clicked#{/if}" href="@{onVoteSubmit(update.id)}">&hearts;</a>
			</div>
			<div class="likeright">
				#{if update.hasUrl()}
					<a class="link" href="${update.url}" rel="nofollow">#{/if}${update.content}#{if update.hasUrl()}</a>
				#{/if}
				<div class="meta">${update.getHowLongAgo()}#{if scope == 'you' || scope == 'everyone'} in <a class="topic-green" href="@{Topic.showUpdates(update.getParentTopicName(),order,0)}">${update.getParentTopicName()}</a>#{/if} by <a href="@{Profile.index(update.getUserId())}">${update.getPosterName()}</a>
				</div>
			</div>
    #{/list}
    #{else}
       <li class="inherit-styles">&{'msg.noUpdates'}
    #{/else}
</ol>

<div class="clear">&nbsp;</div>
<div id="pagination">
	#{if prevOffset >= 0}
		<a data-direction="reverse" class="round" href="@{Topic.showUpdates(scope,order,prevOffset)}">&lsaquo; &{'msg.previous'}</a>
	#{/if}
    #{if numUpdates+lower-1 > 0}
		&{'msg.viewing'} <b>${lower}-
			#{if numUpdates == defaultNumUpdates}${upper}#{/if}
			#{else}${numUpdates+lower-1}#{/else}</b>
	#{/if}
    #{if numUpdates == defaultNumUpdates}
		<a class="round" href="@{Topic.showUpdates(scope,order,upper)}">&{'msg.next'} &rsaquo;</a>
	#{/if}
</div>