<!--
File: base.default.html
Name: Peter Graham
Class: CS 461
Project 1
Date: April 16
-->
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/main.css'}">
        <script type="text/javascript" src="@{'/public/jquery.js'}"></script>
        <script type="text/javascript" src="@{'/public/jquery.infieldlabel.js'}"></script>
<script type="text/javascript" src="@{'/public/main.js'}"></script>
        
    </head>
   <body id="homeview">
<div id="header">
    <div class="wrap">
        <h1 id="logo" class="left"><a href="@{Topic.defaultFilters()}"><img src="@{'/public/logo.png'}" alt="&{'websiteName'}"></a></h1>
        <div id="headerright">
            <form id="search" class="left" action="@{Search.index()}" method="get">
                <div><input id="searchbar" class="smalltext" name="q" type="text" value="${searchQuery}" accesskey="s" autocomplete="off" spellcheck="false"><input id="searchsubmit" class="smallsubmit pointer" type="submit" value="&{'search'}"></div>
            </form>
            <div id="headerlinks" class="reddish right">
                <a class="${request.controller == 'Topic' ? 'active' : ''}" href="@{Topic.defaultFilters()}">&{'home'}</a>
                #{if loggedin}
                    <a class="${request.controller == 'Profile' ? 'active' : ''}" href="@{Profile.index(userId)}">&{'profile'}</a><a class="${request.controller == 'Account' ? 'active' : ''}" href="@{Account.settings()}">&{'settings'}</a><a id="lastheaderlink" href="@{Account.logout()}">&{'logout'}</a>
                #{/if}
                #{else}
                    <a class="${request.actionMethod == 'login' ? ' active' : ''}" id="lastheaderlink" href="@{Account.login()}">&{'login'}</a></strong>
                #{/else}
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

<div id="main">
    <div class="wrap">
<!-- display error/success 'flashed' messages here if applicable -->
#{if flash.success}
    <p class="success smallround">${flash.success.raw()}</p>
#{/if}
#{if flash.error}
    <p class="error smallround">${flash.error.raw()}</p>
#{/if}

#{doLayout /}
    </div>
</div>