<!--
File: base.html
Name: Peter Graham
Class: CS 461
Project 1
Date: April 16
-->
<!DOCTYPE html>
<html>
    <head>
        <title>&{'websiteName'} - #{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 #{get 'moreStyles' /}
 #{get 'moreScripts' /}

    #{if isMobile}
        #{include 'base.mobile.html' /}
    #{/if}
    #{else}
        #{include 'base.default.html' /}
    #{/else}
        

<div id="footer" class="smaller">
    <a href="@{BaseController.toggleMobileEnabled}">#{if isMobile}Non-mobile site#{/if}#{else}Mobile#{/else}</a>
    <a href="@{Info.about()}">&{'about'}</a>
    <a href="@{Info.contact()}">&{'contact'}</a>
    <p>&copy; 2011 &{'websiteName'}</p>
</div>
