<!--
File: Profile/index.html
Name: Peter Graham
Class: CS 461
Project 1
Date: April 17
-->
#{extends 'base.html' /}
#{set title:profile_user.name /}
<div class="subpage">
    <h2>${profile_user.name}
      #{if isOwnProfile}
      <span class="smallest"><a class="leftpad" href="@{edit()}">&{'profile.edit'}</a> or <a href="@{Account.settings()}">&{'settings.edit'}</a></span>
      #{/if}
    </h2>
#{if profile_user.bio}    
<div>${profile_user.bio}</div><br>
#{/if}
    &{'topic.following'}:
    <ol id="topics">
#{list items:topics, as:'topic'}
<li>
#{if isOwnProfile}
	<a class="remove left" href="@{Topic.unFollowTopic(topic.getNameEncoded())}">&#215;</a>
#{/if}
	<a href="@{Topic.showUpdates(topic.getNameEncoded(),'popular24h',0)}">${topic.name}</a>
#{/list}
#{else}
    <li class="inherit-styles">&{'msg.none'}</p>
#{/else}
</ol>
</div>