<!--
File: Info/placeholder.html
Name: Peter Graham
Class: CS 461
Project 1
Date: February 16
-->
#{extends 'base.html' /}
#{set title:messages.get('login') /}
<div class="subpage centered bigborder round">
    &{'websiteName'} allows you to follow topics of your interest, which can include anything from current events to hobbies. You can contribute to a topic by posting updates, or by voting on these updates. Your votes will determine which updates are currently popular.<br><br>
    Contact me at <a href="mailto:pagraham@colby.edu">pagraham@colby.edu</a>.
</div>
